.header {
  background-color: white;
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0; }
  .header .tittle {
    height: 50pt; }
    .header .tittle h1 {
      float: left;
      padding: 0;
      margin: 0;
      padding-top: 10pt;
      padding-left: 1%;
      height: 30pt;
      font-stlye: bold;
      display: inline-block;
      vertical-align: middle;
      line-height: normal; }
  .header .navbar {
    background: #415E97;
    background: -webkit-linear-gradient(#415E97, #4469B2);
    background: -o-linear-gradient(#415E97, #4469B2);
    background: -moz-linear-gradient(#415E97, #4469B2);
    background: linear-gradient(#415E97, #4469B2);
    box-shadow: -1px 5px 5px 2px #888888;
    height: 25pt; }
    .header .navbar .current-page {
      float: right;
      padding-top: 5pt;
      padding-right: 1%;
      margin: 0;
      color: white;
      text-shadow: -1px 0 #818181, 0 1px #818181, 1px 0 #818181, 0 -1px #818181; }

.card-container {
  position: relative;
  float: left;
  margin: 0;
  margin-top: 3%;
  margin-left: 5%; }

card-two-sided {
  display: block;
  position: relative;
  /*Handles the "FlippIng Of the Card*/ }
  card-two-sided > card-front {
    color: black;
    box-shadow: 2px 2px 2px 2px #888888;
    float: left;
    padding: 10pt;
    border-style: solid;
    height: 250px;
    width: 425px;
    background-color: white;
    display: block;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: perspective(800px) rotateY(0);
    transform: perspective(800px) rotateY(0); }
    card-two-sided > card-front .card-head {
      display: inline-block;
      border-bottom: solid;
      border-color: #E1A641;
      width: 100%; }
      card-two-sided > card-front .card-head .name {
        float: left;
        margin-bottom: 0; }
      card-two-sided > card-front .card-head .points {
        float: right;
        margin-bottom: 0; }
  card-two-sided > card-back {
    color: black;
    box-shadow: 2px 2px 2px 2px #888888;
    float: left;
    padding: 10pt;
    border-style: solid;
    height: 250px;
    width: 425px;
    background-color: white;
    display: block;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    position: absolute;
    -webkit-transform: perspective(800px) rotateY(180deg);
    transform: perspective(800px) rotateY(180deg); }

/* Front visible */
card-two-sided.card-front > card-front {
  -webkit-transform: perspective(800px) rotateY(0);
  transform: perspective(800px) rotateY(0); }
card-two-sided.card-front > card-back {
  -webkit-transform: perspective(800px) rotateY(180deg);
  transform: perspective(800px) rotateY(180deg); }

/* Back visible */
card-two-sided.card-back > card-front {
  -webkit-transform: perspective(800px) rotateY(-180deg);
  transform: perspective(800px) rotateY(-180deg); }
card-two-sided.card-back > card-back {
  -webkit-transform: perspective(800px) rotateY(0);
  transform: perspective(800px) rotateY(0); }

body {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=workspace.css.map */
