.sidebar-container {
  bottom: 0;
  top: 0;
  margin-right: 100px;
  height: 100%;
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s;
  overflow: hidden;
  position: fixed;
  width: 50px;
  z-index: 1000; }
  .sidebar-container .side-menu {
    background-color: #EBEBEB;
    height: 100%;
    float: right;
    position: relative;
    min-width: 100px;
    /*Exists off screen*/
    position: absolute;
    left: -100; }
  .sidebar-container .sidebar {
    background-color: #404040;
    height: 100%;
    float: right;
    position: relative;
    width: 50px; }

.content {
  postion: relative; }

.card-container {
  float: left;
  margin: 0;
  margin-top: 2%;
  margin-left: 5%; }

card-two-sided {
  display: block;
  position: relative;
  /*Handles the "FlippIng Of the Card*/ }
  card-two-sided > card-front {
    color: black;
    box-shadow: 2px 2px 2px 2px #888888;
    padding: 10pt;
    border-style: solid;
    height: 200px;
    width: 300px;
    background-color: white;
    z-index: 5;
    display: block;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: perspective(800px) rotateY(0);
    transform: perspective(800px) rotateY(0); }
    card-two-sided > card-front .card-head {
      display: inline-block;
      border-bottom: solid;
      border-color: #E1A641;
      width: 100%; }
      card-two-sided > card-front .card-head .name {
        float: left;
        margin-bottom: 0; }
      card-two-sided > card-front .card-head .points {
        float: right;
        margin-bottom: 0; }
  card-two-sided > card-back {
    color: black;
    box-shadow: 2px 2px 2px 2px #888888;
    padding: 10pt;
    border-style: solid;
    height: 200px;
    width: 300px;
    background-color: white;
    z-index: 5;
    display: block;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    position: absolute;
    -webkit-transform: perspective(800px) rotateY(180deg);
    transform: perspective(800px) rotateY(180deg); }

/* Front visible */
card-two-sided.card-front > card-front {
  -webkit-transform: perspective(800px) rotateY(0);
  transform: perspective(800px) rotateY(0); }
card-two-sided.card-front > card-back {
  -webkit-transform: perspective(800px) rotateY(180deg);
  transform: perspective(800px) rotateY(180deg); }

/* Back visible */
card-two-sided.card-back > card-front {
  -webkit-transform: perspective(800px) rotateY(-180deg);
  transform: perspective(800px) rotateY(-180deg); }
card-two-sided.card-back > card-back {
  -webkit-transform: perspective(800px) rotateY(0);
  transform: perspective(800px) rotateY(0); }

.sprint .section-title {
  width: 95%;
  margin-left: 5%;
  margin-top: 50px;
  padding: 0; }
  .sprint .section-title h1 {
    border-bottom: 2px solid #515151;
    margin: 0;
    width: 500px; }

body {
  overflow-x: auto;
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=workspace.css.map */
