<a href = "/card/{{card.id}}">
    <card-two-sided class = "card-two-sided {{front ? 'card-front' : 'card-back'}} " ng-mouseover = "front = false" ng-mouseleave = "front = true">

        <card-front>
            <div class = "card-head">
                <h3 class = "name"> {{card.name}}</h3>
            </div>
            <div class = card-center>
                <p class = "epic" style = "color: {{card.epic.foreColor}}; background-color: {{card.epic.backColor}};">{{card.epic.name}}</p>
                <p class = "points"> Points: {{card.points}}</p>
                <p class = "status status-{{card.status}}">{{card.status}}</p>
            </div>
            <div class = "card-foot">
                <p class = "poc"> {{card.poc}}</p>
                <p class = "id">{{card.id}}</p>
            </div>
        </card-front>

        <card-back>
            <div class = "card-head">
                <h3 class = "name"> {{card.name}}</h3>
                <p class = "points"> Points: {{card.points}}</p>
            </div>
            <p class = "description">{{card.description}}</p>
            <div class = "card-foot">
                <p class = "poc"> {{card.poc}}</p>
                <p class = "id">{{card.id}}</p>
            </div>
        </card-back>
        
    </card-two-sided>
</a>