@import "colors";
@import "mixin";

$card-height: 200px;
$card-width: 300px;
$card-padding: 10px;


@mixin card-defaults(){
    color: black;
    box-shadow:2px 2px 2px 2px #888888;
    padding: $card-padding;
    border-style: solid;
    height: $card-height;
    width: $card-width;
    background-color: white;
    
    z-index: 5;

    display: block;
    top: 0;
    left: 0;

    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden; 
    
    transition: -webkit-transform 0.5s; 
    transition: transform 0.5s;
}

card-two-sided{
    float: left;
    margin-right: 3%;
    margin-top: 5%;
    display: block;
    position: relative;


    /*Handles the "FlippIng Of the Card*/
    > card-front{
        @include card-defaults();
        -webkit-transform:  perspective(800px) rotateY(0); 
        transform:  perspective(800px) rotateY(0); 
        position: relative;

        .card-head{
            border-bottom: solid;
            margin-bottom: 5px;
            border-color: $main-orange;
            width: 100%;
            height: 75px;
            position: relative;



            .name{
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
                font-size: 30px;
                margin: 0;
            }

        }

        .card-center{
            text-align: center;
            .epic{
                @include epic-label();
            }
            .points{
                margin: 0;
                width: 100%;
                display: inline-block;
            }

            .status{
                font-weight: bold;
                margin: 0;
                width: 100%;
            }

            

        }
        .card-foot{
            position: absolute;
            bottom: 0;
            width: 95%;

            p{
                margin: 0 2px 0 0;
            }

            .poc{
                float: left;
            }

            .index{
                float: right;
            }
        }
    }

    > card-back{
        @include card-defaults();

        position:absolute;
        -webkit-transform:  perspective(800px) rotateY(180deg); 
        transform:  perspective(800px) rotateY(180deg);

        .card-head{
            display: inline-block;
            border-bottom: solid;
            border-color: $main-orange;
            width: 100%;

            .name{
                float: left;
                margin: 5px 0 0 0;
            }

            .points{
                float: right;
                margin: 5px 0 0 0;
            }
        }

        .description{
            margin:0;
        }
        .card-foot{
            position: absolute;
            bottom: 0;
            width: 95%;

            p{
                margin: 0 2px 0 0;
            }

            .poc{
                float: left;
            }

            .index{
                float: right;
            }
        }
    }
}

/* Front visible */
card-two-sided.card-front{

    > card-front {
          -webkit-transform:  perspective(800px) rotateY(0); 
          transform:  perspective(800px) rotateY(0);  
    }
    
    > card-back {
     -webkit-transform:  perspective(800px) rotateY(180deg); 
     transform:  perspective(800px) rotateY(180deg);   
    }
}

/* Back visible */
card-two-sided.card-back{ 
    > card-front {
      -webkit-transform:  perspective(800px) rotateY(-180deg); 
      transform:  perspective(800px) rotateY(-180deg);  
    }

    > card-back {
     -webkit-transform:  perspective(800px) rotateY(0); 
     transform:  perspective(800px) rotateY(0);   
    }
}

.status-Open{
    color: #BF9200;
}

.status-Development{
    color: #652372;
}

.status-QA{
    color: #232B72;
}

.status-Closed{
    color: green;
}