$standard-orange: #E1A641;
$epic-purple: #8D00B7;

$nav-black: #404040;
$side-menu-grey: #EBEBEB;
$side-icon-grey: #646464;

$action-icon-grey: #BFBFBF;
$add-green: #54C747;
$remove-red: #DB2929;

$section-title-blue: #515151;
$section-divide-color: #D5D5D5;