@mixin background-vert-gradient($color-top, $color-bottom){

	background: $color-top; 
    background: -webkit-linear-gradient($color-top, $color-bottom); 
    background: -o-linear-gradient($color-top, $color-bottom);
    background: -moz-linear-gradient($color-top, $color-bottom); 
    background: linear-gradient($color-top, $color-bottom);

}

@mixin text-outline($color){
	text-shadow: -1px 0 $color,0 1px $color,1px 0 $color,0 -1px $color;
}

@mixin edit-icon{
    .edit-icon{
        color: $action-icon-grey;
        cursor: pointer;
        margin-left: 5px;
        //Hides element while keeping it on the dom (for automation and such)
        position: absolute;
        top: -9999px !important;
        left: -9999px !important;

    }

    //Hover over edit icon
    .edit-icon-toggle{
        &:hover{
            color:black;
        }
    }

    //Hover over confrim icon
    .edit-icon-confirm{
        &:hover{
            color: $add-green;
        }
    }

    //hover over cancel icon
    .edit-icon-cancel{
        &:hover{
            color: $remove-red;
        }
    }

    //Hover Over Parent
    &:hover {
        .edit-icon{
            position: static;
            margin-top: 2px;
        }

        .edit-icon{
            float:left
        }
        .edit-icon-confirm, .edit-icon-cancel{
            float:right;
        }

    }
}