
.sprint{
    .section-title{
        width: 95%;
        margin-left: 5%;
        margin-top: 50px;
        padding: 0;
        

        h1{
            border-bottom: 2px solid $section-title-blue;
            margin: 0;
            width: 500px;
        }
    }
}
