
.sprint{
    margin: 3%;
    min-width: 750px;

    .sprint-header{
        

        .sprint-timeframe{
            float: left;
            margin: 12px 0 0 0;
        }

        .sprint-points{
            margin: 12px 0 0 0;
            float: right;
        }
    }

    .sprint-section{
        display:inline-block;

        .sprint-section-title{
            float: left
        }

        .remove-from-sprint{
            color: $action-icon-grey;
            float: right;
            margin-top: 8px;
            cursor: pointer;

            &:hover{
                color: $remove-red;
            }
        }

        .add-to-sprint{
            color: $action-icon-grey;
            float: right;
            margin-top: 8px;
            margin-right: 10px;
            cursor: pointer;

            &:hover{
                color: $add-green;
            }
        }
    }

    .card-container{
        display: inline-block;
        margin-bottom: 50px;
        width: 100%;

        .sprint-card{
            float:left;
            margin-right: 1%;
            margin-bottom: 10px;
        }

    }
}
