@import "sidebar";
@import "home";
@import "card";
@import "card-details";
@import "sprint";
@import "project-image";
@import "discussion-board";


body{
    overflow-x: auto;
	margin: 0;
	padding: 0;
}
