@import "sidebar";
@import "home";
@import "card";
@import "card-details";
@import "create-card";
@import "sprint";
@import "project-image";
@import "discussion-board";
@import "prompt";
@import "open-sprint";
@import "add-card-to-sprint";


body{
    overflow-x: auto;
	margin: 0;
	padding: 0;
}

.section-label{
    width: 100%;
    border-bottom: 1px solid $section-divide-color;
}
