<div class = "prompt" >
    <div class = "prompt-input add-card-area">
        <h2 class = 'section-label add-card-label' > Let's add a card. </h2>
    
        <div class = 'label-value'>
            <label> Select a Card</label>
            <select class = "card-selection" ng-model = "cardId" 
                ng-options = "card.id as (card.index +' '+ card.name) for card in availableCards">    
            </select> 
        </div>

        <div>
            <button ng-click = "cancel()">Cancel</button>
            <button ng-click = "add()">Add</button>
        </div>
    </div>
</div>